{% extends "base.html" %}

{% block title %}
    Projects
{% endblock %}

{% block content %}
<h1>My Projects</h1>

<input type="text" id="project-search" placeholder="Search projects...">

<p id="no-projects-message" style="display: none;">
    No Projects Found
</p>

<label for="status-filter">Status</label>

<select id="status-filter">
    <option value="all">All</option>
    <option value="Not Started">Not Started</option>
    <option value="In Progress">In Progress</option>
    <option value="Completed">Completed</option>
    <option value="On Hold">On Hold</option>
    <option value="Cancelled">Cancelled</option>
</select>

<label for="priority-filter">Priority</label>

<select id="priority-filter">
    <option value="all">All</option>
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
</select>

<button type="button" id="reset-filters">Reset Filters</button>

<table class="projects-table">

    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Deadline</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for project in projects %}
        <tr>
            <td>
                <a class="project-name-link" href="{{ url_for('project_details', project_id=project[0]) }}">
                    {{ project[1] }}
                </a>
            </td>
            <td>{{ project[3] }}</td>
            <td>{{ project[4] }}</td>
            <td>{{ project[5] }}</td>

            <td>
                <div class="table-actions">
                    <a href="{{ url_for('edit_project_page', project_id=project[0]) }}"
                    class="action-button">
                        Edit
                    </a>

                    <form method="POST"
                        action="{{ url_for('delete_project_page', project_id=project[0]) }}"
                        class="delete-form"
                        id="delete-form">
                        <button type="submit" class="delete-button">
                            Delete
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<a class="home-button" href="{{ url_for('dashboard') }}" >Back Home</a>

{% endblock %}
